<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The People Search</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
    <body>
        <!-- #region Navigation Bar-->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">The People Search</span>
        </nav>
        <!-- end Navigation Bar-->
        <!-- #region Footer -->
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - The People Search</p>
            </footer>
        </div>
        <!-- end Footer -->

    
        @RenderSection("scripts", required: false)
    </body>
</html>
